:root {
    --pmr-color: #198a96;
    --second-font: "Suwannaphum", "sans-serif";
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    height: 10000px;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    line-height: 1;
}
a {
    text-decoration: none;
}
/*  */
.section__heading,
.section__heading--small {
    font-family: var(--second-font);
    color: #01112d;
    font-weight: 700;
}
.section__heading {
    font-size: 6rem;
    line-height: 1.26; /* 126.667% */
}
.section__heading--small {
    font-size: 4rem;
    line-height: 1.3; /* 130% */
}
.section__desc,
.header__nav-link,
.header__login {
    color: #7c7c7c;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
}
.aBtn {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    color: var(--pmr-color);
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--pmr-color);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.home {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--pmr-color);
    border-radius: 50%;
    color: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s linear;
}
.home:hover {
    cursor: pointer;
    opacity: 0.8;
}
/* image */
.services__media-img,
.services__content-img,
.about__img,
.event__img,
.hero__img,
.decor__img,
.decor__left-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

/*==========================================Header==========================================*/
.header {
    margin: 25px 0;
    background-color: #fff;
}
.header--fixed {
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 10;
}
.header__child,
.header__nav,
.header__btns {
    display: flex;
    align-items: center;
}
.header__child {
    width: 100%;
    /* padding: 4px 0; */
    background-color: inherit;
}
.header__nav {
    list-style: none;
    column-gap: 36px;
    margin-left: 151px;
}
.header__btns {
    margin-left: auto;
    column-gap: 42px;
}
.header__nav-link--active {
    color: var(--pmr-color);
    font-weight: 500;
}
.header__signUp {
    padding: 20.25px 52.43px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    transition: 0.5s linear;
}
.header__signUp:hover {
    background-color: var(--pmr-color);
    color: #fff;
    font-size: 1.8rem;
    line-height: 28px;
}
.header__nav-link:hover,
.header__login:hover {
    text-decoration: underline;
}
/*==========================================Hero==========================================*/
.hero {
    margin-top: 40px;
}
.hero__wrap {
    width: calc(100% - 101px * 2);
    margin: 0 auto;
    text-align: center;
}
.hero__title {
    max-width: 778px;
    margin: 0 auto;
}
.hero__desc {
    max-width: 678px;
    margin: 20px auto 0;
}
.hero__imgWrap {
    margin-top: 50px;
    position: relative;
    border-radius: 15px;
    max-height: 493px;
    overflow: hidden;
}
.hero__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero__btn {
    margin-top: 60px;
    padding: 22px 39.48px;
    color: #fff;
    background-color: var(--pmr-color);
}
/*==========================================Logos==========================================*/
.logo {
    margin-top: 80px;
    padding: 80px 0;
    background-color: var(--pmr-color);
}
.logo .container {
    max-width: 1170px;
}
.logo__title,
.frame__title {
    color: #fff;
    font-family: var(--second-font);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.logo__list {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.logo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
/*==========================================Decor==========================================*/
.decor {
    position: relative;
}
.decor__left-img-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 231px;
    z-index: -1;
}
.decor__wrap {
    padding: 80px 0;
    display: flex;
    align-items: center;
    column-gap: 70px;
}
.decor__media {
    max-width: 575px;
    max-height: 644px;
    overflow: hidden;
}
.decor__content {
    max-width: 535px;
}
.decor__desc {
    margin-top: 24px;
}
.decor__btn,
.event__btn {
    margin-top: 44px;
    padding: 22.2px 35.68px;
    transition: 0.5s linear;
}
/*==========================================Hero==========================================*/
.frame {
    background-color: var(--pmr-color);
}
.frame__wrap {
    padding: 80px 0 100px;
    margin: 0 auto;
    max-width: calc(100% - 223px * 2);
    background-color: inherit;
    text-align: center;
}
.frame__btn {
    color: #fff;
    font-size: 1.2rem;
    border-radius: 23px;
    padding: 14px 25.42px;
    background: #1a6b75;
    font-weight: 500;
    line-height: 18px; /* 150% */
}
.frame__title {
    margin-top: 30px;
}
.frame__list {
    margin-top: 60px;
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.frame__images {
    list-style: none;
    overflow: hidden;
}
.frame__images-wrap {
    display: flex;
}
.frame__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
    flex-shrink: 0;
    width: 100%;
}
.frame__img-wrap {
    width: 272px; /*Hỏi lại*/
    height: 280px;
}
.frame__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.frame__desc {
    margin-top: 30px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5; /* 150% */
}
/*==========================================Services==========================================*/
.services {
    padding: 55px 0;
}
.services__wrap {
    display: flex;
    column-gap: 30px;
}
.services__content {
    width: 49%;
}
.services__media {
    max-width: 575px;
}
.services__title {
    margin-top: 23px;
}
.services__btn {
    margin-top: 30px;
    padding: 22.2px 26.9px;
    transition: 0.5s linear;
}
.services__btn:hover {
    background-color: var(--pmr-color);
    color: #fff;
}
.services__content-img-wrap {
    margin-top: 60px;
    max-width: 505px;
}
/*==========================================About==========================================*/
.about {
    padding: 80px 0;
}
.about__title,
.about__desc {
    text-align: center;
}
.about__desc {
    max-width: 467px;
    margin: 22px auto 0;
}
.about__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.about__item {
    position: relative;
    max-width: 373px;
}
.about__item::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s linear;
    visibility: hidden;
    opacity: 0;
}
.about__item::before {
    display: inline-block;
    content: "Venue Dressing";
    position: absolute;
    min-width: calc(100% - 60px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 27px 65px;
    font-family: var(--second-font);
    font-size: 2.4rem;
    font-weight: 700;
    background: rgba(25, 138, 150, 0.8);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
    z-index: 2;
}
.about__item:hover {
    cursor: pointer;
}
.about__item:hover::before,
.about__item:hover::after {
    opacity: 1;
    visibility: visible;
}
/*==========================================Event==========================================*/
.event {
    padding: 80px 0 80px 0;
}
.event__wrap {
    position: relative;
    padding-bottom: 51px;
}
.event__content {
    width: 57%;
    padding: 35px 0 35px 71px;
    background-color: var(--pmr-color);
    color: #fff;
}
.event__title {
    color: inherit;
}
.event__desc {
    margin-top: 24px;
    max-width: 534px;
    color: inherit;
}

.event__btn:hover {
    color: inherit;
    background-color: var(--pmr-color);
    border: 1px solid currentColor;
}
.event__media {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 1008px;
    z-index: -1;
}
